@charset "UTF-8";

html {
    font-size: 16px;
}

html, body, div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body {
    height: 100%;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#globalBar {
    background-color: rgb(78, 77, 77);
    position: absolute;
    width:100%;
    height: auto;
    grid-area: globalBar;
}

#imgFacebook, #imgInstagram{
    width:50px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}


nav ul {
    list-style: none;
    margin: 0px;
    padding: 0; 
    display:flex;
    flex-direction: row;
    justify-content:space-evenly;
    gap: 70px;

}

nav a:link, nav a:visited {
    background-color: rgb(78, 77, 77);
    color: #272727;
    padding: 0px;
    margin: 0px;
    font-size: 20px;
    text-decoration: none;
}      

nav a:hover, nav a:active {
    background-color: rgb(93, 92, 92);
    color: #faf6f6;
    padding: 0px;
    margin: 0px;
    font-size: 20px;
}