@charset "UTF-8";

html {
    font-size: 16px;
}

html, body, div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#grid-areas {
    display: grid;
    grid-template-columns: minmax(300px, 800px) minmax(300px, 800px) auto;
    grid-template-rows: min-content min-content min-content min-content min-content;
    grid-template-areas:
    "homeBar homeBar homeBar"
    "header header header"
    "globalBar globalBar globalBar"
    "textBox textBox asideRight"
    "footer footer footer"
}

#homeBar {
    background-color: rgb(78, 77, 77);
    position: fixed;
    width: 100%;
    height: 140px;
    top: 0;
    z-index: 1;
    grid-area: homeBar;
}

#imgLogo{
    width: 100px;
    height: 100%;
    top: 0;
}

#header {
    grid-area: header;
}

#globalBar {
    background-color: rgb(78, 77, 77);
    width:100%;
    height: 70px;
    grid-area: globalBar;
    z-index: 100;
}

nav ul {
    list-style: none;
    margin: 0px;
    padding: 0px; 
    display:flex;
    flex-direction: row;
    justify-content:space-evenly;
    gap: 70px;

}

nav a:link, nav a:visited {
    background-color: rgb(78, 77, 77);
    color: #272727;
    padding: 0px;
    margin: 0px;
    font-size: 20px;
    text-decoration: none;
}      

nav a:hover, nav a:active {
    background-color: rgb(93, 92, 92);
    color: #faf6f6;
    padding: 0px;
    margin: 0px;
    font-size: 20px;
}


#imgFacebook, #imgInstagram {
    width: 50px;
}

#valkommenMainText {
grid-area: textBox;
}

.asideRight {
        background-color: rgb(233, 159, 159);
      z-index: 1000;
      grid-area: asideRight;
} 

.footer{
    background-color: rgb(78, 77, 77);
    grid-area: footer;
}